body{
    overflow-x:hidden;  // disable horizontal scrolling.
    padding : 0px;
    margin:0px;
}
#pie
{
    position: absolute;
    -webkit-transform: scaleX(-1); /* webkit */
    /* -webkit-transform: rotate(315deg); */
    -webkit-transform-origin: center center;
    width:320px;
    height:320px;
    /* left: 10px; */
}
#rotationSliderContainer { 
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 160px;
    /* background: #FF7400; */
    /* margin: 50px auto; */
    cursor: default;
}
.rotationSlider { 
    position: absolute;
    height: 50px;
    width: 50px;
    background: #A64B00;
    border-radius: 25px;
    cursor: pointer;
    z-index: 3;
}
#rotationSliderDegrees {
    position: absolute;
    top: 110px;
    width: 100%;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    z-index: 2;
}