

.top_left_indicator
{
    color: black;
    border-left: #808080 2px solid;
    border-right: #808080 2px solid;
    border-bottom: #808080 2px solid;
    height: 40px;
    padding: 5px;
    font-size: 30pt;
    margin-bottom: 12px;
}

.mail
{
    width:500px;
    height: 110px;
    border: #808080 2px solid;
    color: black;
    font-size: 30pt;
}

.mail span
{
    font-size:20pt;
    display: block;
}